h1 {
    color: brown;
};

img {
    width: 400px;
};

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: black;
    padding: 50px;
    border-color: aqua;
    border-style: dashed;
};

#spanId {
    margin: 50px;
}